In [1]:
import pandas as pd

In [101]:
df = pd.read_csv('../datasets/Seoul_Data.csv')

In [41]:
df['계약년월'].value_counts().sort_index()

계약년월
201101.0    19891
201102.0    20926
201103.0    21241
201104.0    17419
201105.0    16307
            ...
202208.0    29350
202209.0    28029
202210.0    28897
202211.0    27632
202212.0    30979
Name: count, Length: 144, dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3189178 entries, 0 to 3189177
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   동         object
 1   전용면적(㎡)   float64
 2   계약년월      float64
 3   층         float64
 4   도로명       int64
 5   구분        object
 6   건물나이      float64
 7   종가        float64
 8   거래량       float64
 9   변동 %      float64
 10  한국은행기준금리  float64
 11  대학최소거리    float64
 12  역최소거리     float64
 13  마트        float64
 14  스타벅스      float64
 15  Y         float64
dtypes: float64(13), int64(1), object(2)
memory usage: 413.6+ MB

In [44]:
df['계약년월'] = df['계약년월'].astype(int).astype(str)

In [46]:
df['계약년월'] = pd.to_datetime(df['계약년월'], format='%Y%m')

In [50]:
df_oil = pd.read_csv('../datasets/oil_price.csv')

In [56]:
df_oil.drop('Unnamed: 0', axis=1, inplace=True)
# df_oil

In [69]:
df_oil.loc[df_oil['계약년월'] == 2011]

Empty DataFrame
Columns: [계약년월, 보통휘발유]
Index: []

In [72]:
df_oil['계약년월'].value_counts().sort_values()

계약년월
2011.01    1
2011.09    1
2011.03    1
2011.04    1
2011.05    1
          ..
2022.08    1
2022.09    1
2022.10    1
2015.04    1
2022.12    1
Name: count, Length: 144, dtype: int64

In [74]:
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   계약년월    144 non-null    float64
 1   보통휘발유   144 non-null    float64
dtypes: float64(2)
memory usage: 2.4 KB

In [78]:
df_oil['계약년월'].value_counts()

계약년월
2011.01    1
2011.02    1
2018.09    1
2018.10    1
2018.11    1
          ..
2015.01    1
2015.02    1
2015.03    1
2015.04    1
2022.12    1
Name: count, Length: 144, dtype: int64

In [79]:
df_oil['계약년월'] = df_oil['계약년월'].astype(str)

In [93]:
df_oil[['계약년월']].loc[df_oil['계약년월']== '2022.1'] = '2022.10'

C:\Users\zino0\AppData\Local\Temp\ipykernel_14252\1681870800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_oil[['계약년월']].loc[df_oil['계약년월']== '2022.1'] = '2022.10'

In [100]:
df_oil.loc[df_oil['계약년월']== '2022.1']

,계약년월,보통휘발유,2011.01,2011.02,2011.03,2011.04,2011.05,2011.06,2011.07,2011.08,...,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.1,2022.11,2022.12
141,2022.1,1666.65,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,...,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10,2022.10

In [99]:
df_oil.loc[df_oil['계약년월']== '2022.1', df_oil['계약년월']] = '2022.10'

In [60]:
pd.merge(df,df_oil, on = '계약년월', how='left')

ValueError: You are trying to merge on datetime64[ns] and float64 columns. If you wish to proceed you should use pd.concat

In [27]:
from datetime import datetime

In [36]:
datetime.strptime(df[['계약년월']], format = '%Y-%m')

TypeError: strptime() takes no keyword arguments

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3189178 entries, 0 to 3189177
Data columns (total 16 columns):
 #   Column    Dtype
---  ------    -----
 0   동         object
 1   전용면적(㎡)   float64
 2   계약년월      string
 3   층         float64
 4   도로명       int64
 5   구분        object
 6   건물나이      float64
 7   종가        float64
 8   거래량       float64
 9   변동 %      float64
 10  한국은행기준금리  float64
 11  대학최소거리    float64
 12  역최소거리     float64
 13  마트        float64
 14  스타벅스      float64
 15  Y         float64
dtypes: float64(12), int64(1), object(2), string(1)
memory usage: 478.1+ MB

In [37]:
pd.to_datetime(df['계약년월'], format='%Y-%m')

ValueError: time data "201401.0" doesn't match format "%Y-%m", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.