In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/Apart Deal.csv')

C:\Users\zino0\AppData\Local\Temp\ipykernel_19512\1525299634.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datasets/Apart Deal.csv')

In [6]:
df.shape

(4999048, 9)

In [5]:
df.head()

      지역코드  법정동             거래일       아파트     지번      전용면적   층    건축년도   거래금액
0  31110.0  학성동  5/30/2020 0:00    남운학성타운    379  135.5800   8  1991.0  26700
1  31110.0  남외동   1/3/2020 0:00  남외푸르지오1차  506-1  101.6000   2  2006.0  35500
2  31110.0  남외동   1/3/2020 0:00     에일린의뜰    500   84.9920  11  2007.0  36500
3  31110.0  남외동   1/3/2020 0:00  남외푸르지오1차  506-1  118.7060   8  2006.0  43000
4  31110.0  남외동   1/4/2020 0:00  남외푸르지오2차  501-1   84.9636   7  2007.0  38700

In [8]:
df['지역코드'].value_counts()

지역코드
41590.0    112712
41360.0     86199
41190.0     80877
41570.0     67517
44133.0     64606
            ...
45740.0       286
47720.0       260
47760.0       134
47940.0        36
46910.0         9
Name: count, Length: 249, dtype: int64

In [4]:
df['법정동'].value_counts()

법정동
중동         52072
정자동        25149
상동         24889
신정동        24504
상계동        24230
           ...
화영동            1
오산면 장신리        1
대합면 십이리        1
하성면 마곡리        1
다가동3가          1
Name: count, Length: 3214, dtype: int64

In [9]:
pd.read_csv('../datasets/train_data(2017-2019).csv')

C:\Users\zino0\AppData\Local\Temp\ipykernel_19512\2518498160.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../datasets/train_data(2017-2019).csv')

,접수연도,자치구코드,자치구명,법정동코드,법정동명,지번구분,지번구분명,본번,부번,건물명,...,물건금액(만원),건물면적(㎡),토지면적(㎡),층,권리구분,취소일,건축년도,건물용도,신고구분,신고한 개업공인중개사 시군구명
0,2019,11710,송파구,10100,잠실동,1.0,대지,0027,0.0,주공아파트 5단지,...,197300,76.50,NaN,1,NaN,NaN,1978.0,아파트,NaN,NaN
1,2019,11710,송파구,10100,잠실동,1.0,대지,19.0,0.0,잠실엘스,...,198000,84.80,NaN,14,NaN,NaN,2008.0,아파트,NaN,NaN
2,2019,11710,송파구,11100,방이동,1.0,대지,89.0,0.0,올림픽선수기자촌3단지,...,162000,83.06,NaN,16,NaN,NaN,1988.0,아파트,NaN,NaN
3,2019,11500,강서구,10900,방화동,1.0,대지,898.0,0.0,경동팰리스힐,...,8500,12.22,0.0,2,NaN,NaN,2014.0,아파트,NaN,NaN
4,2019,11140,중구,13300,충무로5가,1.0,대지,36.0,2.0,충무로엘크루메크로시티2,...,32000,35.57,NaN,8,NaN,NaN,2016.0,아파트,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270555,2017,11650,서초구,10800,서초동,1.0,대지,1616,10.0,서초극동스타클래스,...,83500,109.97,0.0,2,NaN,NaN,2003.0,아파트,NaN,NaN
270556,2018,11200,성동구,10200,하왕십리동,1.0,대지,258,0.0,청계벽산,...,48000,114.46,NaN,18,NaN,NaN,1996.0,아파트,NaN,NaN
270557,2019,11740,강동구,10900,천호동,1.0,대지,528,0.0,삼성,...,63000,114.65,NaN,4,NaN,NaN,1997.0,아파트,NaN,NaN
270558,2018,11560,영등포구,11000,여의도동,1.0,대지,54,0.0,진주,...,71000,94.31,0.0,7,NaN,NaN,1977.0,아파트,NaN,NaN
270559,2017,11350,노원구,10300,공릉동,1.0,대지,230,0.0,현대아파트,...,29900,62.27,0.0,3,NaN,NaN,1984.0,아파트,NaN,NaN