In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/oil_join.csv')

In [4]:
df.drop(df.columns[0], axis=1, inplace=True)

In [5]:
df

,동,전용면적(㎡),계약년월,층,도로명,구분,건물나이,종가,거래량,변동 %,한국은행기준금리,대학최소거리,역최소거리,마트,스타벅스,Y,보통휘발유
0,개포동,77.8,2014-01-01,2.0,70693,아파트,26.0,1941.15,5.09,-3.49,2.5,3.394074,0.833371,3.0,2.0,33000.0,1886.35
1,개포동,80.0,2014-01-01,2.0,70704,아파트,27.0,1941.15,5.09,-3.49,2.5,3.901717,1.489581,3.0,2.0,34000.0,1886.35
2,개포동,80.0,2014-01-01,1.0,70704,아파트,27.0,1941.15,5.09,-3.49,2.5,3.901717,1.489581,3.0,2.0,28000.0,1886.35
3,개포동,80.0,2014-01-01,2.0,70704,아파트,27.0,1941.15,5.09,-3.49,2.5,3.901717,1.489581,3.0,2.0,35000.0,1886.35
4,개포동,104.4,2014-01-01,8.0,6897,아파트,30.0,1941.15,5.09,-3.49,2.5,3.576921,0.796235,3.0,2.0,40000.0,1886.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189173,만리동2가,66.5,2016-04-01,9.0,35980,오피스텔,12.0,1994.15,7.97,-0.09,1.5,0.962199,0.549153,0.0,0.0,30000.0,1361.74
3189174,만리동2가,66.5,2016-04-01,13.0,35980,오피스텔,12.0,1994.15,7.97,-0.09,1.5,0.962199,0.549153,0.0,0.0,5000.0,1361.74
3189175,만리동2가,66.5,2016-04-01,4.0,35980,오피스텔,12.0,1994.15,7.97,-0.09,1.5,0.962199,0.549153,0.0,0.0,27000.0,1361.74
3189176,만리동2가,66.5,2016-04-01,7.0,35980,오피스텔,12.0,1994.15,7.97,-0.09,1.5,0.962199,0.549153,0.0,0.0,29000.0,1361.74
3189177,의주로1가,83.0,2016-04-01,12.0,97874,오피스텔,13.0,1994.15,7.97,-0.09,1.5,0.578817,0.229512,0.0,0.0,40000.0,1361.74