In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../datasets/df_1.csv', index_col=0)

In [7]:
df.shape

(560758, 20)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560758 entries, 0 to 560757
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   자치구명                  560758 non-null  object
 1   계약일_x                 560758 non-null  object
 2   건물면적(㎡)               560758 non-null  float64
 3   층                     560758 non-null  int64
 4   건축년도                  560752 non-null  float64
 5   연도                    560758 non-null  int64
 6   물건금액(만원)              560758 non-null  int64
 7   Close                 393022 non-null  float64
 8   월                     560758 non-null  object
 9   FEDFUNDS              560758 non-null  float64
 10  국제유가(Dubai) (US$/배럴)  560758 non-null  float64
 11  부동산 거래량               560758 non-null  object
 12  국고채?3년(평균)            560758 non-null  float64
 13  국고채?5년(평균)            560758 non-null  float64
 14  국고채?10년(평균)           560758 non-null  float64
 15  회사채?3년(평균)            560758 non-null  float64
 16  CD?91물(평균)            560758 non-null  float64
 17  콜금리(1일물,평균)           560758 non-null  float64
 18  기준금리                  560758 non-null  float64
 19  GDP대비가계부채비율           190961 non-null  float64
dtypes: float64(13), int64(3), object(4)
memory usage: 89.8+ MB

In [5]:
df.isna().sum()

자치구명                         0
계약일_x                        0
건물면적(㎡)                      0
층                            0
건축년도                         6
연도                           0
물건금액(만원)                     0
Close                   167736
월                            0
FEDFUNDS                     0
국제유가(Dubai) (US$/배럴)         0
부동산 거래량                      0
국고채?3년(평균)                   0
국고채?5년(평균)                   0
국고채?10년(평균)                  0
회사채?3년(평균)                   0
CD?91물(평균)                   0
콜금리(1일물,평균)                  0
기준금리                         0
GDP대비가계부채비율             369797
dtype: int64

In [22]:
df.loc[(df['연도'] >= 2020) & (df['연도'] < 2023)]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
0,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.30,4.02,3.24,3.25,NaN
1,구로구,2022-12-31,59.88,4,2011.0,2022,85000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.30,4.02,3.24,3.25,NaN
2,노원구,2022-12-31,41.30,12,1988.0,2022,39000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.30,4.02,3.24,3.25,NaN
3,동대문구,2022-12-31,59.98,12,2011.0,2022,80000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.30,4.02,3.24,3.25,NaN
4,송파구,2022-12-31,100.82,1,1988.0,2022,185000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.30,4.02,3.24,3.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165311,금천구,2020-01-01,61.14,13,1989.0,2020,34000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165312,서대문구,2020-01-01,84.96,14,2007.0,2020,67500,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165313,구로구,2020-01-01,84.32,3,2010.0,2020,54000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165314,동대문구,2020-01-01,29.98,11,2018.0,2020,23500,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165315,동대문구,2020-01-01,59.74,9,2000.0,2020,54000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9

In [6]:
# 강남 3구 
df.loc[df['자치구명'].isin(['강남구', '서초구', '송파구'])  ]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
4,송파구,2022-12-31,100.82,1,1988.0,2022,185000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
8,서초구,2022-12-31,84.97,12,2003.0,2022,186000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
12,서초구,2022-12-31,84.98,23,2006.0,2022,194000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
14,강남구,2022-12-31,76.79,2,1979.0,2022,184000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
18,서초구,2022-12-31,152.33,9,2004.0,2022,250000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560734,강남구,2016-01-02,55.34,5,2001.0,2016,60000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560735,송파구,2016-01-02,85.00,3,1997.0,2016,60500,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560744,강남구,2016-01-01,50.67,4,1982.0,2016,87000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560751,송파구,2016-01-01,84.93,11,1995.0,2016,46450,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560755,서초구,2016-01-01,134.36,12,2005.0,2016,94000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3

In [14]:
# 비 강남3구
df.loc[~df['자치구명'].isin(['강남구', '서초구', '송파구'])  ]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
0,동대문구,2022-12-31,84.97,11,2003.0,2022,76500,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
1,구로구,2022-12-31,59.88,4,2011.0,2022,85000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
2,노원구,2022-12-31,41.30,12,1988.0,2022,39000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
3,동대문구,2022-12-31,59.98,12,2011.0,2022,80000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
5,동대문구,2022-12-31,84.97,12,2011.0,2022,97000,NaN,2022-12,4.10,77.2,"3,698",3.63,3.59,3.54,5.3,4.02,3.24,3.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560752,서대문구,2016-01-01,84.60,13,1987.0,2016,28600,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560753,구로구,2016-01-01,84.85,18,1998.0,2016,30500,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560754,노원구,2016-01-01,59.82,7,2005.0,2016,30800,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560756,양천구,2016-01-01,49.99,2,2000.0,2016,21000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3
560757,노원구,2016-01-01,39.96,10,1991.0,2016,18000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.1,1.67,1.49,1.50,83.3

In [15]:
# 강남 3구 Train : 약 80,000 rows
df.loc[(df['자치구명'].isin(['강남구', '서초구', '송파구'])) & ((df['계약일_x'].str.startswith('2016'))|(df['계약일_x'].str.startswith('2017'))|(df['계약일_x'].str.startswith('2018'))|(df['계약일_x'].str.startswith('2019'))|(df['계약일_x'].str.startswith('2020')))]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
83444,강남구,2020-12-31,67.57,5,2006.0,2020,90000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83457,서초구,2020-12-31,216.36,5,2005.0,2020,270000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83462,강남구,2020-12-31,49.86,7,1992.0,2020,145000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83465,송파구,2020-12-31,43.79,3,1986.0,2020,98500,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83471,서초구,2020-12-31,41.94,9,2003.0,2020,39000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560734,강남구,2016-01-02,55.34,5,2001.0,2016,60000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560735,송파구,2016-01-02,85.00,3,1997.0,2016,60500,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560744,강남구,2016-01-01,50.67,4,1982.0,2016,87000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560751,송파구,2016-01-01,84.93,11,1995.0,2016,46450,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560755,서초구,2016-01-01,134.36,12,2005.0,2016,94000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3

In [16]:
# 비강남 3구 Train : 약 400,000 rows
df.loc[~(df['자치구명'].isin(['강남구', '서초구', '송파구'])) & ((df['계약일_x'].str.startswith('2016'))|(df['계약일_x'].str.startswith('2017'))|(df['계약일_x'].str.startswith('2018'))|(df['계약일_x'].str.startswith('2019'))|(df['계약일_x'].str.startswith('2020')))]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
83437,강서구,2020-12-31,71.18,4,2004.0,2020,43000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83438,동작구,2020-12-31,59.67,3,1990.0,2020,98000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83439,도봉구,2020-12-31,42.93,4,1988.0,2020,34750,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83440,구로구,2020-12-31,50.52,1,1982.0,2020,21000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
83441,노원구,2020-12-31,41.30,3,1988.0,2020,47000,NaN,2020-12,0.09,49.8,"30,495",0.97,1.32,1.68,2.21,0.66,0.51,0.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560752,서대문구,2016-01-01,84.60,13,1987.0,2016,28600,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560753,구로구,2016-01-01,84.85,18,1998.0,2016,30500,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560754,노원구,2016-01-01,59.82,7,2005.0,2016,30800,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560756,양천구,2016-01-01,49.99,2,2000.0,2016,21000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3
560757,노원구,2016-01-01,39.96,10,1991.0,2016,18000,NaN,2016-01,0.34,26.9,"9,894",1.63,1.77,2.03,2.10,1.67,1.49,1.5,83.3

In [17]:
# 강남 3구 Test : 약 17,000 rows
df.loc[(df['자치구명'].isin(['강남구', '서초구', '송파구'])) & ((df['계약일_x'].str.startswith('2020'))|(df['계약일_x'].str.startswith('2021')))]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
41042,강남구,2021-12-31,84.94,16,2019.0,2021,316000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41044,서초구,2021-12-31,79.47,9,1988.0,2021,280000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41062,송파구,2021-12-31,187.12,4,1999.0,2021,185000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41065,강남구,2021-12-31,32.65,18,1999.0,2021,45000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41066,서초구,2021-12-31,79.47,9,1988.0,2021,269000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165203,송파구,2020-01-02,60.72,4,1986.0,2020,79000,2175.169922,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165226,강남구,2020-01-02,139.54,3,2004.0,2020,247000,2175.169922,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165243,송파구,2020-01-02,41.99,7,1988.0,2020,72000,2175.169922,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165261,강남구,2020-01-02,132.94,5,1998.0,2020,170000,2175.169922,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165266,송파구,2020-01-01,35.46,5,1989.0,2020,48500,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9

In [20]:
# 비강남 3구 Test : 약 100,000
df.loc[~(df['자치구명'].isin(['강남구', '서초구', '송파구'])) & ((df['계약일_x'].str.startswith('2020'))|(df['계약일_x'].str.startswith('2021')))]

,자치구명,계약일_x,건물면적(㎡),층,건축년도,연도,물건금액(만원),Close,월,FEDFUNDS,국제유가(Dubai) (US$/배럴),부동산 거래량,국고채?3년(평균),국고채?5년(평균),국고채?10년(평균),회사채?3년(평균),CD?91물(평균),"콜금리(1일물,평균)",기준금리,GDP대비가계부채비율
41038,동대문구,2021-12-31,84.87,3,2003.0,2021,104000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41039,동대문구,2021-12-31,84.87,3,2003.0,2021,104000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41040,강동구,2021-12-31,73.87,24,2019.0,2021,154000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41041,은평구,2021-12-31,22.67,13,2021.0,2021,40500,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
41043,영등포구,2021-12-31,84.48,10,1998.0,2021,95000,NaN,2021-12,0.08,73.2,"5,791",1.80,1.98,2.19,2.41,1.27,1.01,1.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165311,금천구,2020-01-01,61.14,13,1989.0,2020,34000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165312,서대문구,2020-01-01,84.96,14,2007.0,2020,67500,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165313,구로구,2020-01-01,84.32,3,2010.0,2020,54000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165314,동대문구,2020-01-01,29.98,11,2018.0,2020,23500,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9
165315,동대문구,2020-01-01,59.74,9,2000.0,2020,54000,NaN,2020-01,1.55,64.3,"24,502",1.37,1.48,1.66,1.96,1.47,1.27,1.25,95.9