In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/seoul__data.csv')
df

,자치구명,법정동명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도,건물용도,연도
0,구로구,구로동,(797-37),20230612,30000,55.23,3,1998.0,아파트,2023
1,영등포구,여의도동,시범,20230612,144500,60.96,6,1971.0,아파트,2023
2,서초구,방배동,임광,20230612,210000,136.38,7,1985.0,아파트,2023
3,동작구,상도동,상도효성해링턴플레이스,20230612,93000,59.98,26,2016.0,아파트,2023
4,마포구,서교동,대우미래사랑,20230612,29500,34.29,8,2005.0,아파트,2023
...,...,...,...,...,...,...,...,...,...,...
461958,강남구,역삼동,대우디오빌,20170101,26400,30.03,11,2002.0,아파트,2017
461959,중랑구,상봉동,우정아파트,20170101,39200,81.78,13,2002.0,아파트,2017
461960,관악구,신림동,강남,20170101,17800,46.72,3,1974.0,아파트,2017
461961,금천구,가산동,두산,20170101,37000,84.90,1,1998.0,아파트,2017
461962,성북구,정릉동,정릉풍림아이원,20170101,33500,60.00,11,2005.0,아파트,2017

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461963 entries, 0 to 461962
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자치구명      461963 non-null  object
 1   법정동명      461963 non-null  object
 2   건물명       461963 non-null  object
 3   계약일       461963 non-null  int64
 4   물건금액(만원)  461963 non-null  int64
 5   건물면적(㎡)   461963 non-null  float64
 6   층         461963 non-null  int64
 7   건축년도      461957 non-null  float64
 8   건물용도      461963 non-null  object
 9   연도        461963 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 35.2+ MB

In [20]:
df.loc[(df['계약일']>20160000)& (df['계약일']<20210000)]

,자치구명,법정동명,건물명,계약일,물건금액(만원),건물면적(㎡),층,건축년도,건물용도,연도
101334,강서구,방화동,삼정코아,20201231,43000,71.18,4,2004.0,아파트,2020
101335,동작구,사당동,대림(169-8),20201231,98000,59.67,3,1990.0,아파트,2020
101336,도봉구,쌍문동,삼익세라믹,20201231,34750,42.93,4,1988.0,아파트,2020
101337,구로구,구로동,(747-35),20201231,21000,50.52,1,1982.0,아파트,2020
101338,노원구,상계동,상계주공11(고층),20201231,47000,41.30,3,1988.0,아파트,2020
...,...,...,...,...,...,...,...,...,...,...
461958,강남구,역삼동,대우디오빌,20170101,26400,30.03,11,2002.0,아파트,2017
461959,중랑구,상봉동,우정아파트,20170101,39200,81.78,13,2002.0,아파트,2017
461960,관악구,신림동,강남,20170101,17800,46.72,3,1974.0,아파트,2017
461961,금천구,가산동,두산,20170101,37000,84.90,1,1998.0,아파트,2017
461962,성북구,정릉동,정릉풍림아이원,20170101,33500,60.00,11,2005.0,아파트,2017

In [21]:
ffr = pd.read_csv('../datasets/FEDFUNDS.csv')

In [22]:
ffr

          DATE  FEDFUNDS
0   2016-01-01      0.34
1   2016-02-01      0.38
2   2016-03-01      0.36
3   2016-04-01      0.37
4   2016-05-01      0.37
..         ...       ...
79  2022-08-01      2.33
80  2022-09-01      2.56
81  2022-10-01      3.08
82  2022-11-01      3.78
83  2022-12-01      4.10

[84 rows x 2 columns]

In [23]:
ffr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      84 non-null     object
 1   FEDFUNDS  84 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.4+ KB

In [1]:
import statsmodels.api as sm
import numpy as np
duncan_prestige = sm.datasets.get_rdataset("Duncan", "carData")
Y = duncan_prestige.data['income']
X = duncan_prestige.data['education']
X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
results.params

const        10.603498
education     0.594859
dtype: float64

In [2]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 income   R-squared:                       0.525
Model:                            OLS   Adj. R-squared:                  0.514
Method:                 Least Squares   F-statistic:                     47.51
Date:                Sun, 18 Jun 2023   Prob (F-statistic):           1.84e-08
Time:                        22:27:57   Log-Likelihood:                -190.42
No. Observations:                  45   AIC:                             384.8
Df Residuals:                      43   BIC:                             388.5
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         10.6035      5.198      2.040      0.048       0.120      21.087
education      0.5949      0.086      6.893      0.000       0.421       0.769
==============================================================================
Omnibus:                        9.841   Durbin-Watson:                   1.736
Prob(Omnibus):                  0.007   Jarque-Bera (JB):               10.609
Skew:                           0.776   Prob(JB):                      0.00497
Kurtosis:                       4.802   Cond. No.                         123.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""