In [95]:
import pandas as pd

In [96]:
df= pd.read_csv('./datasets/application_data.csv')

In [144]:
df = df_origin.copy()

In [98]:
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [145]:
df.shape

(307511, 122)

----

In [146]:
# organization 컬럼에서 Type 포함하는 row 갯수 : 84529
df[df['ORGANIZATION_TYPE'].str.contains('Type')][['ORGANIZATION_TYPE']]
# df[df['ORGANIZATION_TYPE'].str.contains('Type')]['ORGANIZATION_TYPE'].unique()

             ORGANIZATION_TYPE
0       Business Entity Type 3
3       Business Entity Type 3
6       Business Entity Type 3
12      Business Entity Type 2
15      Business Entity Type 2
...                        ...
307490  Business Entity Type 1
307495  Business Entity Type 3
307500  Business Entity Type 3
307509  Business Entity Type 1
307510  Business Entity Type 3

[84529 rows x 1 columns]

In [147]:
# organization 컬럼에서 type 포함하는 row 갯수 : 37616 
df[df['ORGANIZATION_TYPE'].str.contains('type')][['ORGANIZATION_TYPE']]
# df[df['ORGANIZATION_TYPE'].str.contains('type')]['ORGANIZATION_TYPE'].unique()

        ORGANIZATION_TYPE
14      Transport: type 2
21          Trade: type 7
27      Industry: type 11
37      Transport: type 4
41       Industry: type 1
...                   ...
307429      Trade: type 2
307447      Trade: type 7
307468  Industry: type 12
307497      Trade: type 7
307501   Industry: type 1

[37616 rows x 1 columns]

In [ ]:
# 총 122,145 행 , 각각 통합 필요

In [148]:
# 'ORGANIZATION_TYPE'컬럼에서 문자로 시작하여 숫자로 끝나는 값들의 Unique -> 총 27개 
    # Business Entity Type : 1~3
    # Transport : 1~4
    # Trade : 1~7
    # Industry : 1~13


df[df['ORGANIZATION_TYPE'].str.match(r'^[a-zA-Z].*\d$')]['ORGANIZATION_TYPE'].unique()
# df[df['ORGANIZATION_TYPE'].str.contains(r'^[a-zA-Z].*\d$')]['ORGANIZATION_TYPE'].unique()

array(['Business Entity Type 3', 'Business Entity Type 2',
       'Transport: type 2', 'Trade: type 7', 'Industry: type 11',
       'Transport: type 4', 'Industry: type 1', 'Trade: type 2',
       'Transport: type 3', 'Business Entity Type 1', 'Industry: type 4',
       'Industry: type 7', 'Trade: type 3', 'Industry: type 3',
       'Industry: type 9', 'Trade: type 6', 'Industry: type 2',
       'Transport: type 1', 'Industry: type 12', 'Trade: type 1',
       'Industry: type 5', 'Industry: type 10', 'Trade: type 5',
       'Industry: type 13', 'Trade: type 4', 'Industry: type 8',
       'Industry: type 6'], dtype=object)

In [149]:
# 'Organization' 컬럼 중 type(숫자) 인 row 동일 값으로 변경 
    # Business Entity : 84529
    # Transport : 8990
    # Trade : 14315
    # Industry : 14311
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Business Entity Type \d$'), 'ORGANIZATION_TYPE'] = 'Business Entity'
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Transport: type \d$'), 'ORGANIZATION_TYPE'] = 'Transport'
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Trade: type \d$'), 'ORGANIZATION_TYPE'] = 'Trade'
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Industry: type \d$'), 'ORGANIZATION_TYPE'] ='Industry'
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Industry: type \d\d$'), 'ORGANIZATION_TYPE'] = 'Industry'

In [150]:
# 통합 전과 갯수 동일
    # Business : 84529
    # Transport : 8990
    # Trade : 14315
    # Industry : 14311
print(len(df.loc[df['ORGANIZATION_TYPE']=='Business Entity']['ORGANIZATION_TYPE']))
print(len(df.loc[df['ORGANIZATION_TYPE']=='Transport']['ORGANIZATION_TYPE']))
print(len(df.loc[df['ORGANIZATION_TYPE']=='Trade']['ORGANIZATION_TYPE']))
print(len(df.loc[df['ORGANIZATION_TYPE']=='Industry']['ORGANIZATION_TYPE']))

84529
8990
14315
14311

In [153]:
print(sum(df['ORGANIZATION_TYPE']=='Business Entity'))
print(sum(df['ORGANIZATION_TYPE']=='Transport'))
print(sum(df['ORGANIZATION_TYPE']=='Trade'))
print(sum(df['ORGANIZATION_TYPE']=='Industry'))

84529
8990
14315
14311

---

In [135]:
# df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Business Entity Type \d$'), 'ORGANIZATION_TYPE']
df.loc[df['ORGANIZATION_TYPE'].str.contains(r'^Business Entity Type \d$'), 'ORGANIZATION_TYPE']

0         Business Entity Type 3
3         Business Entity Type 3
6         Business Entity Type 3
12        Business Entity Type 2
15        Business Entity Type 2
                   ...
307490    Business Entity Type 1
307495    Business Entity Type 3
307500    Business Entity Type 3
307509    Business Entity Type 1
307510    Business Entity Type 3
Name: ORGANIZATION_TYPE, Length: 84529, dtype: object

In [134]:
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Transport: type \d$'), 'ORGANIZATION_TYPE']
# df.loc[df['ORGANIZATION_TYPE'].str.contains(r'^Transport: type \d$'), 'ORGANIZATION_TYPE']

14        Transport: type 2
37        Transport: type 4
49        Transport: type 2
58        Transport: type 4
64        Transport: type 3
                ...
307285    Transport: type 4
307307    Transport: type 4
307339    Transport: type 4
307416    Transport: type 3
307423    Transport: type 4
Name: ORGANIZATION_TYPE, Length: 8990, dtype: object

In [133]:
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Trade: type \d$'), 'ORGANIZATION_TYPE']
# df.loc[df['ORGANIZATION_TYPE'].str.contains(r'^Trade: type \d$'), 'ORGANIZATION_TYPE']

21        Trade: type 7
61        Trade: type 2
80        Trade: type 7
110       Trade: type 2
137       Trade: type 7
              ...
307329    Trade: type 7
307367    Trade: type 3
307429    Trade: type 2
307447    Trade: type 7
307497    Trade: type 7
Name: ORGANIZATION_TYPE, Length: 14315, dtype: object

In [132]:
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Industry: type \d$'), 'ORGANIZATION_TYPE']
# df.loc[df['ORGANIZATION_TYPE'].str.contains(r'^Industry: type \d$'), 'ORGANIZATION_TYPE']

41        Industry: type 1
94        Industry: type 4
148       Industry: type 7
165       Industry: type 3
170       Industry: type 3
                ...
307303    Industry: type 9
307379    Industry: type 3
307421    Industry: type 4
307425    Industry: type 9
307501    Industry: type 1
Name: ORGANIZATION_TYPE, Length: 11062, dtype: object

In [140]:
df.loc[df['ORGANIZATION_TYPE'].str.match(r'^Industry: type \d\d$'), 'ORGANIZATION_TYPE']

27        Industry: type 11
60        Industry: type 11
85        Industry: type 11
317       Industry: type 11
518       Industry: type 11
                ...
307051    Industry: type 11
307154    Industry: type 11
307278    Industry: type 11
307397    Industry: type 11
307468    Industry: type 12
Name: ORGANIZATION_TYPE, Length: 3249, dtype: object

## Label encoding

In [155]:
df['NAME_EDUCATION_TYPE'].value_counts()

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

In [156]:
label = df['NAME_EDUCATION_TYPE']
label.unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [157]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le

LabelEncoder()

In [158]:
le.fit(label)

LabelEncoder()

In [159]:
label_encoded = le.transform(label)

label_encoded

array([4, 1, 4, ..., 1, 4, 1])

In [163]:
pd.Series(label_encoded).value_counts()

4    218391
1     74863
2     10277
3      3816
0       164
Name: count, dtype: int64

In [165]:
label_encoded_1 = label_encoded +1

In [173]:
len(label_encoded_1)

307511

In [175]:
pd.Series(label_encoded_1).isna().sum()

0

In [ ]:
df['NAME_EDUCATION_TYPE']

In [177]:
label = df['NAME_EDUCATION_TYPE']


from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(label)

label_encoded = le.transform(label)
label_encoded_1 = pd.Series(label_encoded +1)

label_encoded_1.value_counts()

df_copy = df.copy()

df_copy["EDUCATION_GRADE"]=label_encoded_1

df_copy.loc[df_copy["EDUCATION_GRADE"].isna()==True][["NAME_EDUCATION_TYPE","EDUCATION_GRADE"]].index

df.iloc[287339:,][["NAME_EDUCATION_TYPE","EDUCATION_GRADE"]]

KeyError: "['EDUCATION_GRADE'] not in index"

In [167]:
df['NAME_EDUCATION_TYPE'].value_counts()

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

In [171]:
pd.Series(df['NAME_EDUCATION_TYPE'].values).unique()

array(['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'],
      dtype=object)

In [172]:
len(label_encoded_1)

307511