In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./credit_default.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254543 entries, 0 to 254542
Data columns (total 77 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   TARGET                                   254543 non-null  int64
 1   CNT_CHILDREN                             254543 non-null  float64
 2   AMT_INCOME_TOTAL                         254543 non-null  int64
 3   AMT_CREDIT                               254543 non-null  float64
 4   NAME_TYPE_SUITE_0                        254543 non-null  int64
 5   NAME_TYPE_SUITE_1                        254543 non-null  int64
 6   NAME_TYPE_SUITE_2                        254543 non-null  int64
 7   NAME_TYPE_SUITE_3                        254543 non-null  int64
 8   NAME_INCOME_TYPE_0                       254543 non-null  int64
 9   NAME_INCOME_TYPE_1                       254543 non-null  int64
 10  NAME_INCOME_TYPE_2                       254543 non-null  int64
 11  NAME_INCOME_TYPE_3                       254543 non-null  int64
 12  NAME_EDUCATION_TYPE                      254543 non-null  int64
 13  NAME_HOUSING_TYPE_0                      254543 non-null  int64
 14  NAME_HOUSING_TYPE_1                      254543 non-null  int64
 15  NAME_HOUSING_TYPE_2                      254543 non-null  int64
 16  REGION_POPULATION_RELATIVE               254543 non-null  float64
 17  DAYS_EMPLOYED                            254543 non-null  int64
 18  OWN_CAR_AGE                              254543 non-null  float64
 19  FLAG_EMAIL                               254543 non-null  int64
 20  OCCUPATION_TYPE_0                        254543 non-null  int64
 21  OCCUPATION_TYPE_1                        254543 non-null  int64
 22  OCCUPATION_TYPE_2                        254543 non-null  int64
 23  OCCUPATION_TYPE_3                        254543 non-null  int64
 24  OCCUPATION_TYPE_4                        254543 non-null  int64
 25  CNT_FAM_MEMBERS_0                        254543 non-null  int64
 26  CNT_FAM_MEMBERS_1                        254543 non-null  int64
 27  CNT_FAM_MEMBERS_2                        254543 non-null  int64
 28  HOUR_APPR_PROCESS_START_0                254543 non-null  int64
 29  HOUR_APPR_PROCESS_START_1                254543 non-null  int64
 30  HOUR_APPR_PROCESS_START_2                254543 non-null  int64
 31  HOUR_APPR_PROCESS_START_3                254543 non-null  int64
 32  HOUR_APPR_PROCESS_START_4                254543 non-null  int64
 33  REG_CITY_NOT_WORK_CITY                   254543 non-null  int64
 34  LIVE_CITY_NOT_WORK_CITY                  254543 non-null  int64
 35  ORGANIZATION_TYPE_0                      254543 non-null  int64
 36  ORGANIZATION_TYPE_1                      254543 non-null  int64
 37  ORGANIZATION_TYPE_2                      254543 non-null  int64
 38  ORGANIZATION_TYPE_3                      254543 non-null  int64
 39  ORGANIZATION_TYPE_4                      254543 non-null  int64
 40  ORGANIZATION_TYPE_5                      254543 non-null  int64
 41  AMT_REQ_CREDIT_BUREAU_HOUR               254543 non-null  float64
 42  AMT_REQ_CREDIT_BUREAU_DAY                254543 non-null  float64
 43  AMT_REQ_CREDIT_BUREAU_WEEK               254543 non-null  float64
 44  AMT_REQ_CREDIT_BUREAU_MON                254543 non-null  float64
 45  AMT_REQ_CREDIT_BUREAU_QRT                254543 non-null  float64
 46  AMT_REQ_CREDIT_BUREAU_YEAR               254543 non-null  float64
 47  DAYS_ID_PUBLISH_int                      254543 non-null  int64
 48  DAYS_BIRTH_int                           254543 non-null  int64
 49  DAYS_REGISTRATION_int                    254543 non-null  int64
 50  DAYS_LAST_PHONE_CHANGE_int               254543 non-null  int64
 51  Is_Business_hours                        254543 non-null  int64
 52  NAME_CONTRACT_TYPE_Cash loans            254543 non-null  int64
 53  NAME_CONTRACT_TYPE_Revolving loans       254543 non-null  int64
 54  CODE_GENDER_F                            254543 non-null  int64
 55  CODE_GENDER_M                            254543 non-null  int64
 56  FLAG_OWN_CAR_N                           254543 non-null  int64
 57  FLAG_OWN_CAR_Y                           254543 non-null  int64
 58  FLAG_OWN_REALTY_N                        254543 non-null  int64
 59  FLAG_OWN_REALTY_Y                        254543 non-null  int64
 60  NAME_FAMILY_STATUS_Civil marriage        254543 non-null  int64
 61  NAME_FAMILY_STATUS_Married               254543 non-null  int64
 62  NAME_FAMILY_STATUS_Separated             254543 non-null  int64
 63  NAME_FAMILY_STATUS_Single / not married  254543 non-null  int64
 64  NAME_FAMILY_STATUS_Widow                 254543 non-null  int64
 65  DAYS_BIRTH_int_n0s_20s                   254543 non-null  int64
 66  DAYS_BIRTH_int_n0s_30s                   254543 non-null  int64
 67  DAYS_BIRTH_int_n0s_40s                   254543 non-null  int64
 68  DAYS_BIRTH_int_n0s_50s                   254543 non-null  int64
 69  DAYS_BIRTH_int_n0s_60s                   254543 non-null  int64
 70  WEEKDAY_APPR_PROCESS_START_FRIDAY        254543 non-null  int64
 71  WEEKDAY_APPR_PROCESS_START_MONDAY        254543 non-null  int64
 72  WEEKDAY_APPR_PROCESS_START_SATURDAY      254543 non-null  int64
 73  WEEKDAY_APPR_PROCESS_START_SUNDAY        254543 non-null  int64
 74  WEEKDAY_APPR_PROCESS_START_THURSDAY      254543 non-null  int64
 75  WEEKDAY_APPR_PROCESS_START_TUESDAY       254543 non-null  int64
 76  WEEKDAY_APPR_PROCESS_START_WEDNESDAY     254543 non-null  int64
dtypes: float64(10), int64(67)
memory usage: 149.5 MB

In [5]:
X = df.drop('TARGET', axis=1)
y = df['TARGET']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_TYPE_SUITE_0,NAME_TYPE_SUITE_1,NAME_TYPE_SUITE_2,NAME_TYPE_SUITE_3,NAME_INCOME_TYPE_0,NAME_INCOME_TYPE_1,NAME_INCOME_TYPE_2,...,DAYS_BIRTH_int_n0s_40s,DAYS_BIRTH_int_n0s_50s,DAYS_BIRTH_int_n0s_60s,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
33338,0.000000,3473279,247500.0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
64438,0.000000,1447199,1005120.0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
99476,0.693147,1230119,536917.5,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
124972,1.098612,2170800,1082214.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
163088,0.000000,868319,225000.0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176963,0.000000,2170800,755190.0,0,0,1,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
117952,0.000000,1230119,277969.5,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
173685,0.000000,1808999,539100.0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
43567,0.000000,795959,123637.5,0,0,0,1,0,1,0,...,0,0,1,1,0,0,0,0,0,0
199340,0.000000,2170800,722394.0,0,0,0,1,0,0,1,...,1,0,0,1,0,0,0,0,0,0

In [10]:
# DT 

from sklearn.tree import DecisionTreeClassifier

# 선언
dt = DecisionTreeClassifier()

# 학습 
dt.fit(X_train, y_train)

DecisionTreeClassifier()

In [11]:
pred = dt.predict(X_test)
pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [12]:
dt.feature_importances_

array([1.41178570e-02, 6.72808645e-02, 9.96499197e-02, 6.72827491e-04,
       3.66107940e-03, 7.37567392e-03, 5.71856928e-03, 5.85652048e-05,
       5.21739618e-04, 7.25514911e-03, 4.72129241e-03, 1.23693850e-02,
       3.76597535e-03, 6.75675948e-03, 4.30887489e-03, 7.22509391e-02,
       9.75018949e-02, 2.58008611e-02, 5.39777873e-03, 2.65573177e-03,
       8.71758468e-03, 9.75076214e-03, 8.18607567e-03, 7.42713896e-03,
       2.70184146e-03, 6.14125620e-03, 8.24216880e-03, 3.95981807e-03,
       1.04630332e-02, 1.21989573e-02, 1.30051924e-02, 1.08042047e-02,
       6.90566955e-03, 7.03873731e-03, 1.51270234e-03, 5.31490966e-03,
       1.00302136e-02, 6.39725815e-03, 8.24497254e-03, 7.44146150e-03,
       1.69790535e-03, 2.22370915e-03, 5.30166387e-03, 1.36875135e-02,
       1.31886040e-02, 3.71756810e-02, 4.46826668e-02, 5.44938800e-02,
       6.70975544e-02, 3.07124157e-02, 5.77908992e-03, 2.21727780e-03,
       2.65967666e-03, 3.54350489e-03, 1.98179195e-03, 2.52091039e-03,
       2.56633648e-03, 5.87728144e-03, 7.24956177e-03, 6.55586540e-03,
       6.93973715e-03, 6.01987691e-03, 6.02662052e-03, 3.93109998e-03,
       1.42082946e-03, 2.06148257e-03, 2.55420980e-03, 2.24146228e-03,
       1.34765662e-03, 9.10109030e-03, 8.77413049e-03, 7.25314459e-03,
       5.88327463e-03, 8.91938897e-03, 1.09037383e-02, 9.08367069e-03])

In [13]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy_score(y_test, pred, normalize=True)

0.8401068573336739