# Data 불러오기 
1. 장단기 금리 spread
    - 장기금리 : 국고채 3년
        - 연평균 처리 
    - 단기금리 : 콜금리
        - 연평균 처리
    - ECOS
2. PMI
    - ECOS

3. 실질GDP성장률
    - ECOS

In [132]:
import pandas as pd

In [133]:
df_1 = pd.read_csv('spread.csv')

In [134]:
df_2 = pd.read_csv('macro_PMI.csv')

In [135]:
df_3 = pd.read_csv('macro_realGDP.csv')

## 1. 장단기 금리 spread

In [136]:
df_1

,통계표,계정항목,단위,변환,2022/12/30,2022/12/29,2022/12/28,2022/12/27,2022/12/26,2022/12/23,...,2011/01/14,2011/01/13,2011/01/12,2011/01/11,2011/01/10,2011/01/07,2011/01/06,2011/01/05,2011/01/04,2011/01/03
0,1.3.2.1. 시장금리(일별),"콜금리(1일, 전체거래)",연%,원자료,3.380,3.212,3.187,3.252,3.269,3.244,...,2.74,2.74,2.50,2.5,2.49,2.49,2.49,2.49,2.5,2.49
1,1.3.2.1. 시장금리(일별),국고채(3년),연%,원자료,3.722,3.719,3.668,3.662,3.663,3.623,...,3.69,3.64,3.54,3.6,3.57,3.59,3.58,3.50,3.5,3.50

In [137]:
# 인덱스 & 컬럼 정리 
df = df_1.transpose().drop(['단위', '변환', '통계표'], axis=0)
header = df.iloc[0]
df = df[1:]
df.rename(columns=header, inplace=True)

In [141]:
df = df.sort_index()

In [142]:
df

             콜금리(1일, 전체거래) 국고채(3년)
2011/01/03            2.49     3.5
2011/01/04             2.5     3.5
2011/01/05            2.49     3.5
2011/01/06            2.49    3.58
2011/01/07            2.49    3.59
...                    ...     ...
2022/12/26           3.269   3.663
2022/12/27           3.252   3.662
2022/12/28           3.187   3.668
2022/12/29           3.212   3.719
2022/12/30            3.38   3.722

[2969 rows x 2 columns]

In [143]:
df['date'] = df.index

In [144]:
index = pd.to_datetime(df.index)

In [145]:
df = df.set_index(index)

In [148]:
df['year'] = df['date'].apply(lambda x : x.split('/')[0])

In [149]:
# 연평균
df_1 = df.groupby('year').mean()

C:\Users\zino0\AppData\Local\Temp\ipykernel_27532\3588360298.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_1 = df.groupby('year').mean()

In [150]:
# 장단기금리차 계산
df_1['spread(%)'] = df_1['국고채(3년)']- df_1['  콜금리(1일, 전체거래)']

In [151]:
df_1.index.name = ''

In [152]:
df_1

        콜금리(1일, 전체거래)   국고채(3년)  spread(%)

2011         3.097430  3.615542   0.518112
2012         3.077390  3.131928   0.054538
2013         2.584637  2.792887   0.208250
2014         2.335244  2.588907   0.253663
2015         1.639639  1.793807   0.154169
2016         1.340283  1.441587   0.101304
2017         1.260123  1.801025   0.540902
2018         1.518612  2.099396   0.580784
2019         1.589879  1.529211  -0.060668
2020         0.695301  0.987598   0.292297
2021         0.619618  1.391807   0.772189
2022         2.044462  3.199453   1.154992

## 2. PMI (생산자물가지수)

In [153]:
df_2

,통계표,계정코드,단위,가중치,변환,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,4.1.1.1. 생산자물가지수(기본분류),총지수,2015=100,1000.0,원자료,118.78,109.6,103.03,103.5,103.48,101.57,98.18,100.0,104.18,104.74,106.44,105.71

In [154]:
df = df_2.transpose().drop(['단위', '변환', '통계표'], axis=0)
header = df.iloc[0]
df.rename(columns=header, inplace=True)
df = df.sort_index()

In [155]:
df.drop(['가중치', '계정코드'], axis=0, inplace=True)

In [156]:
df_2 = df.rename(columns={'총지수':'PMI(2015기준)'})

In [157]:
df_2

     PMI(2015기준)
2011      105.71
2012      106.44
2013      104.74
2014      104.18
2015       100.0
2016       98.18
2017      101.57
2018      103.48
2019       103.5
2020      103.03
2021       109.6
2022      118.78

## 3. 실질 GDP 성장률

In [158]:
df_3

,통계표,계정항목,단위,변환,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011
0,"2.1.2.1.4. 경제활동별 GDP 및 GNI(원계열, 실질, 분기 및 연간)","국내총생산(시장가격, GDP)",%,전년말대비증감률,2.6,4.3,-0.7,2.2,2.9,3.2,2.9,2.8,3.2,3.2,2.4,3.7

In [159]:
df = df_3.transpose().drop(['단위', '변환', '통계표'], axis=0)
header = df.iloc[0]
df.rename(columns=header, inplace=True)
df = df.sort_index()

In [160]:
df.drop('계정항목', axis=0, inplace=True)

In [161]:
df_3 = df.rename(columns={'국내총생산(시장가격, GDP)':'실질GDP성장률(%)'})

# 거시경제Features -> dataframe 합치기

In [164]:
df = pd.concat([df_1,df_2,df_3], axis=1)

In [173]:
df.drop(['  콜금리(1일, 전체거래)', '국고채(3년)'], axis=1,inplace=True)

In [174]:
df

      spread(%) PMI(2015기준) 실질GDP성장률(%)
2011   0.518112      105.71         3.7
2012   0.054538      106.44         2.4
2013   0.208250      104.74         3.2
2014   0.253663      104.18         3.2
2015   0.154169       100.0         2.8
2016   0.101304       98.18         2.9
2017   0.540902      101.57         3.2
2018   0.580784      103.48         2.9
2019  -0.060668       103.5         2.2
2020   0.292297      103.03        -0.7
2021   0.772189       109.6         4.3
2022   1.154992      118.78         2.6

# Excel 파일 저장

In [176]:
df.to_excel('./macro_df.xlsx')